.card-list {
  container-type: inline-size;
  container-name: cards;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;

  padding: 25px 0;

  &__error,
  &__empty,
  &__loading {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 18px;
  }

  &__error {
    color: var(--color-red);
  }

  &__item {
    max-width: 325px;

    @container cards (max-width: 516px) {
      max-width: 100%;
    }
  }
}
