$white: #ffffff;

$gray-light: #f0f0f0;
$gray-medium: #b0b0b0;

$blue: #1e90ff;
$red: #ff4500;
$green: #32cd32;
$yellow: #ffd700;
$black: #000000;

$btn-p-small: 6px 12px;
$btn-p-medium: 8px 16px;
$btn-p-large: 10px 20px;

$btn-size-small: 14px;
$btn-size-medium: 16px;
$btn-size-large: 18px;
